name: CI

# Trigger the workflow on push or pull request
on:
  push:
    branches:
      - master
  pull_request:

jobs:
  test:
    name: latex ${{ matrix.use-latex }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        use-latex:
          - true
          - false

    steps:
      # the order of the checkout actions is important because all contents of
      # the target folder of the checkout action is removed
      - uses: actions/checkout@v4
        with:
          repository: gap-packages/example
      - uses: actions/checkout@v4
        with:
          path: this-action/
      - uses: gap-actions/setup-gap@v2
      - uses: ./this-action/
        with:
          use-latex: ${{ matrix.use-latex }}
