name: CI

# Trigger the workflow on push to master / main, or on pull request
on:
  push:
    branches:
      - main
  pull_request:

jobs:
  test:
    name: latex ${{ matrix.use-latex }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        use-latex:
          - true
          - false
        package:
          - gap-actions/ActionTestGAPDocPackage
          - gap-actions/ActionTestOldDocPackage

    steps:
      # the order of the checkout actions is important because all contents of
      # the target folder of the checkout action is removed
      - uses: actions/checkout@v5
        with:
          repository: ${{ matrix.package }}
      - uses: actions/checkout@v5
        with:
          path: this-action/
      - uses: gap-actions/setup-gap@v3
      - uses: ./this-action/
        with:
          use-latex: ${{ matrix.use-latex }}
      - name: Check for unwanted files
        shell: bash
        run: |
          test ! -f output.log
          test ! -f __DOC_CHECKER__.g
          find doc \( -name '*.aux' -o -name '*.bbl' -o -name '*.blg' -o -name '*.brf' -o -name '*.idx' -o -name '*.ilg' -o -name '*.ind' -o -name '*.log' -o -name '*.out' -o -name '*.pnr' -o -name '*.toc' -o -name '*.tst' \) -exec test ! -f {} +
